<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transaction Fraud Detector | GDAT</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      type="png"
      href="https://exafunction.github.io/public/brand/windsurf-white-symbol.png"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.3.2/css/dataTables.bootstrap5.css"
    />
    <link rel="stylesheet" href="../ui.css" />
  </head>
  <body>
    <div class="d-flex gap-2 h-100 w-100">
      <div class="position-sticky top-0">
        <aside id="sideBar" class="bg-body-tertiary border">
          <div class="p-3 d-flex justify-content-center">
            <img
              src="https://exafunction.github.io/public/brand/windsurf-white-symbol.png"
              alt="icon"
              class="img-fluid rounded-sm"
              width="60px"
              height="60px"
            />
          </div>
          <div class="d-flex flex-column mt-2">
            <a href="/home" class="btn btn-dark rounded-0 p-3 fw-bold fs-5"
              >Home</a
            >
            <a
              href="/forms/deposit"
              class="btn btn-dark rounded-0 p-3 fw-bold fs-5"
              >Deposit</a
            >
            <a
              href="/forms/Withdraw"
              class="btn btn-primary rounded-0 p-3 fw-bold fs-5"
              >Withdraw</a
            >
            <a
              href="/user/profile"
              class="btn btn-dark rounded-0 p-3 fw-bold fs-5"
              >Profile</a
            >
          </div>
        </aside>
      </div>

      <div class="container-fluid d-flex flex-column h-100 mt-5">
        <div
          class="d-flex justify-content-center align-items-start flex-wrap h-100 gap-5 mx-3"
        >
          <div>
            <div>
              <h2>
                <img
                  src="https://exafunction.github.io/public/brand/windsurf-white-symbol.png"
                  alt="icon"
                  class="img-fluid rounded-sm"
                  width="60px"
                  height="60px"
                />
                Withdrawal
              </h2>
              <hr class="m-1" />
              <p>
                Make sure that you are logged in correctly so the transaction
                its not detected as a fraud.
              </p>
            </div>
          </div>
          <div style="min-width: 400px">
            <div class="bg-body-tertiary p-3 rounded shadow">
              <h3 class="m-0 fw-bold">Withdrawal Form</h3>
              <p class="text-muted m-1">make sure to fill all the fields.</p>
              <hr class="my-3" />
              <div class="bg-body-tertiary">
                <div class="d-flex gap-2 mb-3">
                  <p class="mb-1">Current Balance:</p>
                  <h5 class="fw-bold">$<%= data[0][0][0].current_balance %></h5>
                </div>
              </div>
              <form action="/payment" method="post">
                <input
                  type="hidden"
                  name="id_account"
                  value="<%= accountID %>"
                />
                <div class="mb-3">
                  <label for="amount" class="form-label fw-bold"
                    >Amount to Withdraw:</label
                  >
                  <input
                    type="number"
                    name="amount"
                    id="amount"
                    placeholder="Enter the amount to withdraw"
                    class="form-control"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label fw-bold"
                    >Confirm your Email:</label
                  >
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Enter your email"
                    class="form-control"
                    required
                  />
                </div>
                <div class="mb-3">
                  <button
                    class="btn btn-primary w-100"
                    type="submit"
                    id="submitProcessBtn"
                  >
                    Process Withdraw
                  </button>
                  <p class="text-muted text-center fs-6 mt-1">
                    Take in mind once it process you accept our terms &
                    conditions of use.
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
    <script>
      const $ = (id) => document.getElementById(id);
      const token = <%- JSON.stringify(token).toString() %>;
      const data = <%- JSON.stringify(data) %>;

      document.querySelector("form").addEventListener("submit", (ev) => {
        ev.preventDefault();
        if (
          window.confirm(
            "Sure to process this withdraw? this will trigger the process for the paying method"
          )
        )
          document.querySelector("form").submit();
      });
    </script>
  </body>
</html>
